.container[data-v-07500ce0]{width:100vw;height:100vh;background-image:url(/assets/college.3caddc25.jpeg);background-size:cover;background-repeat:no-repeat;background-position:center;padding:none;margin:none}
